@media (0 <= width < 768px) {
  .summary-cards {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: none;
    gap: 1.5rem;
  }
  .summary-cards .card {
    width: 100%;
  }
  .summary-cards .card .title {
    font-size: 0.875rem;
  }
  .summary-cards .card .money {
    font-size: 1.875rem;
  }
}
@media (768px <= width < 1024px) {
  .summary-cards .card .money {
    font-size: 1.5rem;
  }
}
@media (1024px <= width < 1280px) {
}
